<p-toast 
    [showTransformOptions]="'translateY(100%)'" 
    [showTransitionOptions]="'1000ms'" 
    [hideTransitionOptions]="'1000ms'" 
    [showTransformOptions]="'translateX(100%)'" />
<div class="grid">
    <div class="ml-1 col-12 flex card">
        <p-tabView orientation="left" class="w-full">
            <p-tabPanel header="Entity Info" class="line-height-3 m-0 w-full">
                <app-entity-node-info [entityNodeTypeList]="entityNodeTypeList" [selectedProduct]="selectedProduct" (savedProductEvent)="onSavedProduct($event)"></app-entity-node-info>
            </p-tabPanel>
           
        </p-tabView>
    </div>
</div>