<div class="grid">
    <div class="col-12">
        
        <div class="card px-6 py-6">
            <div class="px-1 py-1 mb-2">
                <h3 class="m-0">Entity Node List</h3>
            </div>
            <p-toast/>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New Entity Node" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>                        
                    </div>
                </ng-template>

               
            </p-toolbar>

            <p-table #dt [value]="entityList" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['type','fields','description']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Entities Node List</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th></th>
                        <th>Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="entityTypeName">Type <p-sortIcon field="entityTypeName"></p-sortIcon></th>
                        <th pSortableColumn="labels">Labels <p-sortIcon field="labels"></p-sortIcon></th>
                        <th pSortableColumn="isBlocked">State <p-sortIcon field="isBlocked"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width:5%; min-width:3rem;">
                            <p-button *ngIf="product.allowProductCloning" icon="pi pi-copy p-3" [rounded]="true" [text]="true" severity="secondary" (click)="cloneEntity(product)"  />
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Id</span>
                           
                            
                            {{rowIndex+1}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{product.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Type</span>
                            {{product.entityTypeName}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Labels</span>
                            {{product.labels}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">State</span>
                            <p-tag [value]="product.isBlocked ?'Yes':'No'" [severity]="getSeverity(product.isBlocked)" />
                            
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2 list-icon-style" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning list-icon-style" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected Entities?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
