<p-toast 
    [showTransformOptions]="'translateY(100%)'" 
    [showTransitionOptions]="'1000ms'" 
    [hideTransitionOptions]="'1000ms'" 
    [showTransformOptions]="'translateX(100%)'" />
<div class="grid">
    <div class="col-12">
        <form [formGroup]="formCustom" (ngSubmit)="save()">
            <div class="grid">
                <div class="col-12">
                    <h5>Custom Fields</h5>
                </div>
                <div class="col-4">
                    <label for="name" class="block text-700 font-medium mb-2">Custom Field Name</label>                    
                    <input id="name" type="text" placeholder="Field Name" pInputText 
                        formControlName="name"
                        class="form-control"
                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.name.errors }"
                        class="" style="padding:1rem">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback mb-1">
                        <div *ngIf="f.name.errors.required">Name is required</div>                    
                    </div>
                </div>
                <div class="col-4">
                    <label for="groupName" class="block text-700 font-medium mb-2">Group Name</label>                    
                    <input id="groupName" type="text" placeholder="Field Name" pInputText 
                        formControlName="group_name"
                        class="form-control"                       
                        class="" style="padding:1rem">                    
                </div>
                <div class="col-4">
                    <label for="sequence" class="block text-700 font-medium mb-2">Sequence</label>                    
                    <input id="sequence" type="number" placeholder="Sequence" pInputText 
                        formControlName="sequence"
                        class="form-control"                       
                        class="" style="padding:1rem">                    
                </div>
                <div class="col-4">
                    <label for="role" class="block text-700 font-medium mb-2">Type</label>
                    <p-dropdown 
                        formControlName="type" appendTo="body" [filter]="true"  filterBy="name" 
                        [showClear]="true" [options]="fieldTypeList" optionLabel="name"
                        placeholder="Select Field Type" />
                    <div *ngIf="submitted && f.type.errors" class="invalid-feedback mb-1">
                        <div *ngIf="f.type.errors.required">Field Type is required</div>                   
                    </div>
                </div>
                <div class="col-8">
                    <label for="role" class="block text-700 font-medium mb-2">Constraint</label>
                    <p-dropdown 
                    formControlName="constraint" appendTo="body" [filter]="true"  filterBy="name" 
                    [showClear]="true" [options]="fieldConstraintList" optionLabel="name"
                    placeholder="Select Field Type"
                    (onChange)="onConstraintChange($event.value)" />
                <div *ngIf="submitted && f.constraint.errors" class="invalid-feedback mb-1">
                    <div *ngIf="f.constraint.errors.required">Constraint is required</div>                   
                </div>
                </div>
                <div class="col-6" >
                   <div class="card" *ngIf="contraintType==2">
                        <ng-container formArrayName="constraintValueList">
                            <ng-container *ngFor="let constraintValueForm of constraintValueList.controls; let i = index">
                                <div class="grid mt-1" [formGroupName]="i">
                                    <div class="col-12 justify-content-end p-0" *ngIf="i==0">
                                        <p-button label="Add New Option" (click)="addConstraintValueList()" styleClass="p-button-link"></p-button>
                                    </div>
                                    <div class="col-6 align-items-center justify-content-center p-1">
                                        <label for="role" class="block text-700 font-medium mb-2">Name</label>
                                        <input type="text" id="role" pInputText formControlName="name"  [ngClass]="{ 'ng-invalid ng-dirty': submitted && fi(i,'name') }"  />
                                        <div *ngIf="submitted && fi(i,'name')" class="invalid-feedback mb-1">
                                            <div *ngIf="fi(i,'name')">Name is required</div>                   
                                        </div>
                                    </div>
                                    <div class="col-6 align-items-center justify-content-center p-1">
                                        <label for="value" class="block text-700 font-medium mb-2">Value</label>
                                        <input type="text" id="value" pInputText formControlName="value"  appTwoDigitDecimaNumber
                                        (paste)="handlePasteTwoDigit($event.clipboardData.getData('text/plain'))" [ngClass]="{ 'ng-invalid ng-dirty': submitted && fi(i,'value') }" />
                                        <div *ngIf="submitted && fi(i,'value')" class="invalid-feedback mb-1">
                                            <div *ngIf="fi(i,'value')">Value is required</div>                   
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="card" *ngIf="contraintType==3">
                        <ng-container formArrayName="constraintValueList">
                            <ng-container *ngFor="let constraintValueForm of constraintValueList.controls; let i = index">
                                <div class="grid mt-1" [formGroupName]="i">
                                   
                                    <div class="col-6 align-items-center justify-content-center p-1">
                                        <label for="role" class="block text-700 font-medium mb-2">Minimum</label>
                                        <input type="text" appTwoDigitDecimaNumber id="role" pInputText formControlName="name"  [ngClass]="{ 'ng-invalid ng-dirty': submitted && fi(i,'name') }" />
                                        <div *ngIf="submitted && fi(i,'name')" class="invalid-feedback mb-1">
                                            <div *ngIf="fi(i,'name')">Min range is required</div>                   
                                        </div>
                                    </div>
                                    <div class="col-6 align-items-center justify-content-center p-1">
                                        <label for="value" class="block text-700 font-medium mb-2">Maximum</label>
                                        <input type="text" appTwoDigitDecimaNumber id="value" pInputText formControlName="value"  [ngClass]="{ 'ng-invalid ng-dirty': submitted && fi(i,'value') }"  />
                                        <div *ngIf="submitted && fi(i,'value')" class="invalid-feedback mb-1">
                                            <div *ngIf="fi(i,'value')">Max range is required</div>                   
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>                
                <div class="col-6">
                    <div class="flex  mb-5 gap-1 justify-content-end" *ngIf="canManageEntityType">
                        <p-button class="pull-right mr-2" label="Save" (click)="saveClose()" type="button"  [raised]="true" severity="success" />
                        <p-button class="pull-right" label="Add" type="submit"  [raised]="true" severity="success" />                    
                            <p-button class="pull-right gap-2" label="Reset" [text]="true" (click)="cancel()" [raised]="true" severity="secondary" />              
                    </div>
                </div>
            </div>
           
        </form>
    </div>
    <div class="col-12">        
        <p-table #dt [value]="customFields" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['fieldName','fieldType','constraint']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                   
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>                   
                    <th>Id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="groupName" >Group Name <p-sortIcon field="groupName"></p-sortIcon></th>
                    <th pSortableColumn="sequence">Sequence</th>
                    <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
                    <th pSortableColumn="constraint">Constraint <p-sortIcon field="constraint"></p-sortIcon></th>                    
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                <tr>
                  
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Id</span>
                        {{rowIndex+1}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Name</span>
                        {{product.name}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Group Name</span>
                        {{product.groupName}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Sequence</span>
                        {{product.sequence}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Type</span>
                        {{product.type}}
                    </td>
                    <td style="width:14%; min-width:8rem;">
                        <span class="p-column-title">Constraint</span>
                        {{product.constraint}}
                    </td>
                   
                    <td>
                        <div class="flex" *ngIf="canManageEntityType">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
    
